<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517449307049-r0gb8lufnqhbpslnkg04k2u5vl9s9u03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517449307049-r0gb8lufnqhbpslnkg04k2u5vl9s9u03</string>
	<key>API_KEY</key>
	<string>AIzaSyBUzzwVaiOLiz_JdGvZZp4VjxFMoG6DWw0</string>
	<key>GCM_SENDER_ID</key>
	<string>517449307049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>food</string>
	<key>PROJECT_ID</key>
	<string>foodhouse-9d60d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhouse-9d60d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517449307049:ios:720f4836f3fb4f53c3eab8</string>
	<key>DATABASE_URL</key>
	<string>https://foodhouse-9d60d.firebaseio.com</string>
</dict>
</plist>